<button class="btn btn-primary" (click)='onCreateServer()'>Add Server</button><br>
Server Name <input class="form-control" type="text" [(ngModel)]="serverName">
<p *ngIf="serverCreated; else noServer">Server is created {{serverName}}</p>
<ng-template #noServer>
	<p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<button class="btn btn-primary" (click)='toggleP()'>Display Details</button><br>
<p *ngIf="showP">Secret pass</p>
<div *ngFor="let item of clickTracker" [ngStyle]="{backgroundColor: item >= 5 ? 'blue' : 'white'}" [ngClass]="{'white-color': item >= 5}">{{item}}</div>